<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>SAKSHAM STORE</title>
<style>
body{margin:0;background:#080f14;color:#fff;font-family:sans-serif}
h1{text-align:center;color:#5cf3ff;text-shadow:0 0 15px #00e5ff;margin:35px 0 5px;font-size:28px}
.sub{text-align:center;color:#8a9aa8;font-size:13px;margin-bottom:20px}
.card{background:#0f1d24;border:1px solid #14313f;border-radius:20px;padding:20px;margin:15px}
.badge{background:#0f2e1f;color:#00ff8a;border-radius:20px;padding:5px 12px;font-size:12px;font-weight:bold}
select,input{width:100%;padding:14px;background:#0a1218;border:1px solid #1e3442;border-radius:12px;color:#fff;margin-bottom:12px}
.buy{width:100%;padding:15px;background:#00ff9d;border:none;border-radius:12px;font-weight:bold;cursor:pointer}
#box{display:none;margin:15px;padding:15px;background:#0f1d24;border-radius:12px;border:1px solid #00ff9
